<form class="table-card" [formGroup]="formPreventivo" (ngSubmit)="onSubmit.emit()">
    <div class="detail-row">
        <label for="nomeCliente">Cliente</label>
        <input id="nomeCliente" type="text" formControlName="nomeCliente" name="nomeCliente" />
    </div>

    <div class="detail-row">
        <label for="indirizzo">Indirizzo</label>
        <input id="indirizzo" type="text" formControlName="indirizzo" name="indirizzo" />
    </div>

    <div class="detail-row">
        <label for="dataPreventivo">Data</label>
        <input id="dataPreventivo" type="date" formControlName="dataPreventivo" name="dataPreventivo" />
    </div>

    <div class="detail-row">
        <label for="importoTotale">Importo</label>
        <input id="importoTotale" type="number" formControlName="importoTotale" name="importoTotale" />
    </div>
    <div class="detail-row">
        <label for="stato">Stato preventivo</label>
        <select id="stato" type="text" name="stato" formControlName="stato">
            <option value="APERTO">Aperto</option>
            <option value="ACCETTATO">Accettato</option>
            <option value="RIFIUTATO">Rifiutato</option>
        </select>
    </div>

    @if (!isMobile()) {
    <div class="table-righe-responsive">
        <table class="righe-table">
            <thead>
                <tr>
                    <th>Descrizione</th>
                    <th>UM</th>
                    <th>Quantità</th>
                    <th>Importo</th>
                    <th>Importo totale</th>
                    @if (isEditing) {
                    <th>Azione</th>
                    }
                </tr>
            </thead>

            <tbody formArrayName="righe">

                <tr *ngFor="let riga of dataPagService.paginated();" [formGroup]="getFormGroupById(riga.id)">
                    <td><textarea [id]="'descrizione_' + riga.id" name="descrizione" type="text"
                            formControlName="descrizione"></textarea></td>
                    <td><input [id]="'um_' + riga.id" name="um" type="text" formControlName="um" /></td>
                    <td><input [id]="'quantita_' + riga.id" name="quantita" type="number" formControlName="quantita" />
                    </td>
                    <td><input [id]="'importo_' + riga.id" name="importo" type="number" formControlName="importo" />
                    </td>
                    <td><input [id]="'importo-tot_' + riga.id" name="importo-tot" type="number"
                            formControlName="importoTotale" /></td>
                    @if (isEditing) {
                    <td>
                        <button type="button" class="icon-btn delete" (click)="deleteRow.emit(riga.id)">
                            <i class="fal fa-trash"></i>
                        </button>
                    </td>
                    }
                </tr>
            </tbody>
        </table>
    </div>
    }
    @if (isMobile()) {
    <div class="righe-card-container" formArrayName="righe">
        <div class="riga-card" *ngFor="let riga of dataPagService.paginated();" [formGroup]="getFormGroupById(riga.id)">

            <div class="card-field">
                <label>Descrizione</label>
                <textarea type="text" formControlName="descrizione"></textarea>
            </div>

            <div class="card-field">
                <label>UM</label>
                <input type="text" formControlName="um">
            </div>

            <div class="card-field">
                <label>Quantità</label>
                <input type="number" formControlName="quantita">
            </div>

            <div class="card-field">
                <label>Importo</label>
                <input type="number" formControlName="importo">
            </div>

            <div class="card-field">
                <label>Totale</label>
                <input type="number" formControlName="importoTotale">
            </div>

            @if (isEditing) {
            <button class="icon-btn delete" (click)="deleteRow.emit(riga.id)">
                <i class="fal fa-trash"></i> Elimina
            </button>
            }
        </div>
    </div>
    }

    <div class="pagination">
        <button type="button" (click)="prev()" [disabled]="dataPagService.currentPage() === 1">
            <i class="fal fa-chevron-left"></i>
        </button>
        <span>Pagina {{ dataPagService.currentPage() }} di {{ dataPagService.totalPages() }}</span>
        <button type="button" (click)="next()"
            [disabled]="dataPagService.currentPage() === dataPagService.totalPages()">
            <i class="fal fa-chevron-right"></i>
        </button>
    </div>
    <div class="modal-actions">

        @if (!isEditing) {
        <button type="button" class="icon-btn print" (click)="print.emit()">
            <i class="fal fa-print"></i>
        </button>
        <button type="button" class="icon-btn print" (click)="clone.emit()">
            <i class="fal fa-clone"></i>
        </button>
        <button type="button" class="icon-btn edit" (click)="edit.emit()">
            <i class="fal fa-pencil"></i>
        </button>
        <button type="button" class="icon-btn delete" (click)="delete.emit()">
            <i class="fal fa-trash"></i>
        </button>
        }
        @if (isEditing) {
        <button type="button" class="icon-btn edit">
            <i class="fal fa-plus" (click)="addRow.emit()"></i>
        </button>
        <button type="submit" class="icon-btn edit">
            <i class="fal fa-save"></i>
        </button>
        <button type="button" class="icon-btn close" (click)="cancel.emit()">
            <i class="fal fa-times"></i>
        </button>
        }
    </div>
</form>