<div class="modal-actions">

    @if (!isEditing) {
    <button class="icon-btn print" (click)="print.emit()">
        <i class="fal fa-print"></i>
    </button>

    <button class="icon-btn edit" (click)="edit.emit()">
        <i class="fal fa-pencil"></i>
    </button>

    <button class="icon-btn delete" (click)="delete.emit()">
        <i class="fal fa-trash"></i>
    </button>
    }
    @if (isEditing) {
    <button class="icon-btn edit" (click)="save.emit()">
        <i class="fal fa-save"></i>
    </button>

    <button class="icon-btn close" (click)="cancel.emit()">
        <i class="fal fa-times"></i>
    </button>
    }

</div>