<div class="table-card" [formGroup]="formPreventivo">
    <!--     
    <div class="detail-row">
        <label for="id">ID</label>
        <input id="id" type="text" formControlName="id" name="id" />
    </div> 
    -->

    <div class="detail-row">
        <label for="nomeCliente">Cliente</label>
        <input id="nomeCliente" type="text" formControlName="nomeCliente" name="nomeCliente" />
    </div>

    <div class="detail-row">
        <label for="dataPreventivo">Data</label>
        <input id="dataPreventivo" type="date" formControlName="dataPreventivo" name="dataPreventivo" />
    </div>

    <div class="detail-row">
        <label for="importoTotale">Importo</label>
        <input id="importoTotale" type="number" formControlName="importoTotale" name="importoTotale" />
    </div>

    <table class="righe-table">
        <thead>
            <tr>
                <th>Descrizione</th>
                <th>UM</th>
                <th>Quantità</th>
                <th>Importo</th>
                <th>Importo totale</th>
                @if (isEditing) {
                <th>Azione</th>
                }

            </tr>
        </thead>
        <tbody formArrayName="righe">
            <tr *ngFor="let riga of frmAdapter.getRighe(formPreventivo).controls; let i = index" [formGroupName]="i">
                <td><input [id]="'descrizione_' + i" name="descrizione" type="text" formControlName="descrizione" />
                </td>
                <td><input [id]="'um_' + i" name="um" type="text" formControlName="um" /></td>
                <td><input [id]="'quantita_' + i" name="quantita" type="number" formControlName="quantita" /></td>
                <td><input [id]="'importo_' + i" name="importo" type="number" formControlName="importo" /></td>
                <td><input [id]="'importo-tot_' + i" name="importo-tot" type="number" formControlName="importoTotale" />
                </td>
                @if (isEditing) {
                <td class="actions"><button class="icon-btn delete"><i class="fal fa-trash"></i></button></td>
                }

            </tr>
        </tbody>
    </table>
</div>