<div class="table-card" [formGroup]="formPreventivo">
    <div class="detail-row">
        <label for="id">ID</label>
        <input id="id" type="text" formControlName="id" name="id" />
    </div>

    <div class="detail-row">
        <label for="nomeCliente">Cliente</label>
        <input id="nomeCliente" type="text" formControlName="nomeCliente" name="nomeCliente" />
    </div>

    <div class="detail-row">
        <label for="dataPreventivo">Data</label>
        <input id="dataPreventivo" type="date" formControlName="dataPreventivo" name="dataPreventivo" />
    </div>

    <div class="detail-row">
        <label for="importoTotale">Importo</label>
        <input id="importoTotale" type="number" formControlName="importoTotale" name="importoTotale" />
    </div>

    <table class="righe-table">
        <thead>
            <tr>
                <th>Descrizione</th>
                <th>Quantità</th>
            </tr>
        </thead>
        <tbody formArrayName="righe">
            <tr *ngFor="let riga of svc.righeFormArray.controls; let i = index" [formGroupName]="i">
                <td><input [id]="'descrizione_' + i" name="descrizione" type="text" formControlName="descrizione" />
                </td>
                <td><input [id]="'quantita' + i" name="quantita" type="number" formControlName="quantita" /></td>
            </tr>
        </tbody>
    </table>
</div>