.detail-row {
    display: flex;
    justify-content: space-between;
    padding: 0.6rem 0;
    border-bottom: 1px solid #eee
}

.detail-row label {
    width: 25%
}

.detail-row input {
    width: 70%;
    padding: 0.5rem;
    border-radius: 0.312rem;
    border: 1px solid #ccc
}

.righe-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
}

.righe-table th,
.righe-table td {
    border: 1px solid #ccc;
    padding: 0.5rem;
    text-align: left;
}

.righe-table th {
    background-color: #f5f5f5;
    font-weight: 600;
}