* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    font-family: "Roboto", sans-serif;
    background: #f4f7fa;
}

/* Palette colori*/
:root {
    /* arancione */
    --preventivo-aperto: #f5a623;
    /* verde */
    --preventivo-accettato: #077711;
    /* rosso */
    --preventivo-rifiutato: #d62828;
}